@font-face {
    font-family: 'Knowledge';
    src: url('/static/knowledge-regular.woff2') format('woff2-variations');
    font-weight: 400;
}

@font-face {
    font-family: 'Knowledge';
    src: url('/static/knowledge-medium.woff2') format('woff2-variations');
    font-weight: 500;
}

@font-face {
    font-family: 'Knowledge';
    src: url('/static/knowledge-bold.woff2') format('woff2-variations');
    font-weight: 700;
}

body {
    font-family: "Knowledge";
    font-weight: 400;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background: #222;
}

.module-border-wrap {
    width: 1200px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(#ff5900, orange 50%);
    padding: 30px;
  }

.module {
    background: white;
    color: black;
    padding: 30px;
    height: 630px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.top {

}

.bottom {
}

h1 {
    font-family: "Knowledge";
    font-weight: 700;
    font-size: 120px;
    line-height: 1.1;
    padding: 0;
    margin: 0;
}

.logo {
  width: 300px;
}

a {
    color: black;
    text-decoration: none;
}

i, em {
    font-variant: normal;
    font-style: normal;
    font-weight: 400;
}
