<html>
  <head>
    <title>{{ obj.title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="module-border-wrap">
      <div class="module">
        <div class="top">
          <h1>{{ obj.title }}</h1>
        </div>
        <div class="bottom">
          <div class="logo">
              {% include "logo.svg" %}
          </div>
          <div class="map">
            <div id="plot"></div>
            <div class="label">Based in {% if obj.city %}{{ obj.city }}{% else %}{{ obj.country }}{% endif %}</div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const element = document.getElementById("plot");
      const width = 200;
      const height = 200;
      const inset = 1;
      const url = "/static/110m.json";
      const graticuleColor = "#77777";
      const landColor = "#000000";
      const pointColor = "#ff5900";
      const pointRadius = 7;
      const x = {{ obj.x }};
      const y = {{ obj.y }};
      d3.json(url).then(function (world) {
        const land = topojson.feature(world, world.objects.land)
        const globe = Plot.marks([
          Plot.graticule({ stroke: graticuleColor }),
          Plot.geo(land, { fill: landColor }),
          Plot.dot([[x, y]], { fill: pointColor, r: pointRadius }),
          Plot.sphere({ stroke: landColor })
        ])
        const projection = ({ type: "orthographic", rotate: [x * -1, y * -1] })
        const plot = globe.plot({
          width,
          height,
          inset,
          projection
        })
        element.append(plot);
      });
    </script>
  </body>
</html>
