<style>
    table thead {
        text-align: left;
    }
    table td,
    table th {
        padding: 4px 4px 4px 0;
    }
    table th {
        border-bottom: 1px solid black;
    }
    table td {
        border-bottom: 1px dotted gray;
    }
</style>

<h1>All job listings</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Ref</th>
            <th>Title</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
    {% for obj in obj_list %}
    <tr>
        <td><a href="/job/?id={{ obj.id }}">{{ obj.id }}</a></td>
        <td><a href="{{ obj.url }}">{{ obj.ref }}</a></td>
        <td>{{ obj.title }}</td>
        <td>{% if obj.city %}{{ obj.city }}{% else %}{{ obj.country }}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
