name: Tests
on:
  push:
  workflow_dispatch:

jobs:
  lint-python:
    name: Lint Python code
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v6

      - id: setup-python
        name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pipenv'

      - id: install-pipenv
        name: Install pipenv
        run: curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python

      - id: install-python-dependencies
        name: Install Python dependencies
        run: pipenv install --dev --python=`which python`

      - id: lint
        name: Lint Python code
        run: pipenv run flake8 ./reutersjobs --verbose

  mypy-python:
    name: Static type check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - id: setup-python
        name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pipenv'

      - id: install-pipenv
        name: Install pipenv
        run: curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python

      - id: install-python-dependencies
        name: Install Python dependencies
        run: pipenv install --dev --python=`which python`

      - id: mypy
        name: Run mypy
        run: pipenv run mypy ./reutersjobs --ignore-missing-imports --verbose

  test-python:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - id: setup-python
        name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pipenv'

      - id: install-pipenv
        name: Install pipenv
        run: curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python

      - id: install-python-dependencies
        name: Install Python dependencies
        run: pipenv sync --dev

      - id: tests
        name: Run tests
        run: make test

      - id: server
        name: Start Flask server
        run: pipenv run python -m reutersjobs.app &
